/*
This CSS File is responsible for styling the main view.
*/

/* Label style */
.label {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 14px;
}

/* Button Style */
.button {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 14px;
}

.button:hover {
    -fx-background-color: #0096C9;
}

/* Text Field Style */
.text-field {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 14px;
}

/* Tableview style */
.table-view {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 14px;
}